.map {
  height: 500px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
  padding: 1rem;
}
.map .leaflet-container {
  height: 100%;

}

.popup-name {
  margin-bottom: 2px;
}

.popup-cases {
}

.popup-recovered {
  margin-top: 1px;
  margin-bottom: 1px;
}

.popup-deaths {

}
